<div class="col-md-8">
	<h1><%= @my_event.name %></h1>
	<p>Event Description:<%= @my_event.description %></p>
	<p>Event Date:<%= @my_event.date %></p>
	<p>Event Time: <%= @my_event.time %></p>
	<p>Location: <%= link_to 'Find a location for your event', foursquare_path %></p>
    <h4>Invite Friends to your Event</h4>

    <%= form_for [@my_event, EventUser.new] do |f| %>
	    <div>
	    	<%= f.text_field :email, required: true %>
	    </div>

    	<%= f.submit "Invite" %>
    <% end %>

	<%= link_to 'Edit', edit_event_path(@my_event) %>

	<h4>Guests/Attendees</h4>
	<%= @my_event.users.each do |user| %>
		<div><%= user.email %></div>
		<div><%= current_user.role %></div>
	<% end %>
	
</div>