<h1>Search for Places Near Me</h1>
	<%= form_tag '/foursquare' do %>
	<%= label_tag :zipcode %>
	<%= text_field_tag :zipcode %>
	<%= label_tag :query %>
	<%= text_field_tag :query %>
	<%= submit_tag "Search!" %>
	<% end %>

<div>
	 <% if @venues %>
	 <ul>
	 <% @venues.each do |venue| %>
	 <li>
	 <%= venue["name"] %><br>
	 <%= venue["location"]["address"] %><br>
	 <%= link_to venue["url"] %><br>
	 <%= link_to('Save Search', saved_search_add_path(@my_event, :q => :name)) %>
	 </li>
	 <% end %>
	 </ul>
	 <% end %>

</div>