<!DOCTYPE html>
<html>
<head>
  <title>PlanIt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=1971407546474954";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
  			<div class="container">
  				<div class="row">
  					<nav>
    			<% if current_user %>
      			Welcome, <%= link_to current_user.name, user_session_path %>! | <%= link_to "Logout", destroy_user_session_path, method: :delete %> | <%= link_to "Home", authenticated_root_path %>
      			<br>
      
    			     <% else %>
                  <%= link_to "Log In", new_user_session_path  %> | <%= link_to "Sign Up", new_user_registration_path %>

            <% end %>
 
</nav>
</div>
<div class="row">
   <div class="col-sm-4">
      <nav>
      <ul class="nav flex-column">
        <li class="nav-item">
          <%= link_to "Create Event", new_event_path, class: 'btn-primary btn-lg'%>
        </li>
        <li class="nav-item">
           <%= link_to "My Events", events_path, class: 'btn-primary btn-lg'%>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      </nav>
  </div>
  <div class="col-sm-8">
      <%= yield %>

  </div>
</div>


		

	
	</div>

</body>
</html>
