<!DOCTYPE html>
<html>
<head>
  <title>PlanIt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  			<div class="container">
  				<div class="row">
  					<nav>
               
    			<% if user_signed_in? %>
      			Welcome, <%= link_to current_user.name %>! | <%= link_to "Logout", destroy_user_session_path, method: :delete %> | <%= link_to "Create Event", new_event_path, class: 'btn-primary btn-lg'%> | <%= link_to "My Events", events_path, class: 'btn-primary btn-lg'%> | <%= link_to "Home", welcome_index_path %>
      			<br>
      
    			     <% else %>
                  <%= link_to "Sign in with facebook", '/users/auth/facebook', class: 'btn-primary btn-lg' %>
         


            <% end %>
 
</nav>
</div>

      <%= yield %>



		

	
	</div>

</body>
</html>
